@using ServisTakip.Models
@model List<Kisi>
@{
    ViewBag.Title = "KisiListele";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<h2>Çalışanlar</h2>

<a href="/Kisi/YeniKisiEkle/" class="btn btn-success">Yeni Çalışan Ekle</a>
<br /><br />
<table class="table table-bordered">
    <thead>
        <tr>
            <th scope="col">Ad</th>
            <th scope="col">Soyad</th>
            <th scope="col">Telefon</th>
            <th scope="col">Adres</th>
            <th scope="col">Binilen Lokasyon</th>
            <th scope="col">Binilen Servis</th>
            <th scope="col">Sil</th>
            <th scope="col">Güncelle</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var x in Model)
            {          
        <tr>
            <td>@x.KisiAd</td>
            <td>@x.KisiSoyad</td>
            <td>@x.KisiTelefon</td>
            <td>@x.Adres</td>
            <td>@x.BinilenLokasyon</td>
            <td>@x.Servis.Plaka</td>
            <td><a href="/Kisi/KisiSil/@x.KisiId" class="btn btn-danger" onclick = "return confirm('Silmek istediğinizden emin misiniz?');">Sil</a></td>
            <td><a href="/Kisi/KisiGetir/@x.KisiId" class="btn btn-primary">Güncelle</a></td>
        </tr>
        }
    </tbody>
</table>

