@model ServisTakip.Models.Kisi

@{
    ViewBag.Title = "YeniKisiEkle";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Yeni Çalışan Ekle</h2>

@using (Html.BeginForm("YeniKisiEkle", "Kisi", FormMethod.Post))
{
<div>
    <div class="padding:10px;">
        <label>Ad: </label><br />
        @Html.TextBoxFor(q => q.KisiAd, new { @class = "form-control" })
    </div>
    <div>
        <label>Soyad: </label><br />
        @Html.TextBoxFor(q => q.KisiSoyad, new { @class = "form-control" })
    </div>
    <div>
        <label>Telefon: </label><br />
        @Html.TextBoxFor(q => q.KisiTelefon, new { @class = "form-control" })
    </div>
    <div>
        <label>Adres: </label><br />
        @Html.TextAreaFor(q => q.Adres, new { @class = "form-control" })
    </div>
    <div>
        <label>Binilen Lokasyon: </label><br />
        @*@Html.DropDownListFor(q => q.BinilenLokasyon, (List<SelectListItem>)ViewBag.dr, "Lütfen seçiniz: ", new { @class = "form-control" })*@

        @Html.TextBoxFor(q => q.BinilenLokasyon, new { @class = "form-control" })
    </div>
    <div>
        <label>Binilen Servis: </label><br />
        @Html.DropDownListFor(q => q.ServisId, (List<SelectListItem>)ViewBag.dp, "Lütfen seçiniz: ", new { @class = "form-control" })
    </div>
    <div style="margin-top:15px;">
        <button class="btn btn-primary">Ekle</button>
    </div>
</div>
}

